# See http://help.github.com/ignore-files/ for more about ignoring files.


/Angular16/myBoaApp/dist
/Angular16/myBoaApp/tmp
/Angular16/myBoaApp/out-tsc
/Angular16/myBoaApp/bazel-out
/Angular16/myBoaApp/.angular
/Angular16/myBoaApp/.vscode
/Angular16/myBoaApp/.editorconfig


/Angular16/myBoaApp/node_modules
/JSON-SERVER-APInode_modules

npm-debug.log
yarn-error.log


/Angular16/myBoaApp/.angular/cache

/Angular16/myBoaApp/connect.lock
/Angular16/myBoaApp/coverage
/Angular16/myBoaApp/libpeerconnection.log
/Angular16/myBoaApp/typings


/Angular16/myAngularTailwind/dist
/Angular16/myAngularTailwind/tmp
/Angular16/myAngularTailwind/out-tsc
/Angular16/myAngularTailwind/bazel-out
/Angular16/myAngularTailwind/.angular
/Angular16/myAngularTailwind/.vscode
/Angular16/myAngularTailwind/.editorconfig

/Angular16/myAngularTailwind/node_modules
/Angular16/myAngularTailwind/.angular/cache
/Angular16/myAngularTailwind/connect.lock
/Angular16/myAngularTailwind/coverage
/Angular16/myAngularTailwind/libpeerconnection.log
/Angular16/myAngularTailwind/typings
