<div>
    <nav>
        <a [routerLink]="['home']">Home</a> ||
        <a [routerLink]="['customer']">Customer</a> ||
        <a [routerLink]="['user']">User</a> ||
        <a [routerLink]="['order']">Type of order</a> ||
        <a [routerLink]="['feedback']">Feedback</a> ||
        <a [routerLink]="['contactus']">Contact Us</a> ||
        <a [routerLink]="['view-customer-analytics']">Customer Analytics</a> ||
        <a [routerLink]="['logout']">Logout</a>
    </nav>
</div>
<div class="top-padding-10">
<router-outlet></router-outlet>
</div>